@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    --nav-bg-color: var(--primary-color);
    --nav-link-color: #fff;
    --nav-hover-link-color: #ccc;
    --nav-hover-bg-color: var(--secondary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
}

p {
    padding: 10px 0;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
}

